.container {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--upper-header-height));
    flex-grow: 1;
    min-height: calc(100vh - var(--upper-header-height));
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    padding: 1rem;
    transition: all 0.3s ease;
    overflow-y: auto;
    height: 100%;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.4fr 1.1fr;

    gap: 1rem;
    width: 100%;
    height: 100%;
}

.dashboard-grid .full-width {
    grid-column: 1 / -1;
}

.calendar-section {
    grid-column: 1 / 2;
    grid-row: span 2;
    height: 100%;
}

.stats-section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.events-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.calendar-events {
    grid-row: 1 / 3;
}

.section-card {
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-radius-main);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.titling {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    text-align: center;
}