:root {
    /* DEFAULT VALUES (Overwritten by SettingsProvider.tsx) */
    --base-font-size: 16px;

    --color-brand-primary: #6bc2df;
    --color-brand-secondary: #4faccc;
    --color-brand-accent: #0078d4;

    /* Others */
    --border-radius-main: 0.7rem;
    --sidebar-width: 20rem;
    --upper-header-height: 7rem;

    --color-text-subtle: #7f8c8d;

    --color-shadow-subtle: rgba(0, 0, 0, 0.4);

    --color-brand-accent-hover: color-mix(in srgb, var(--color-brand-accent), black 20%);
    --color-brand-accent-active: color-mix(in srgb, var(--color-brand-accent), black 40%);

    --color-button-interact-bg: linear-gradient(
            135deg,
            var(--color-brand-primary) 0%,
            var(--color-brand-secondary) 100%
    );
    --color-button-interact-bg-hover: linear-gradient(
            135deg,
            color-mix(in srgb, var(--color-brand-primary), black 10%) 0%,
            color-mix(in srgb, var(--color-brand-secondary), black 10%) 100%
    );

    --color-button-interact-bg-active: linear-gradient(
            135deg,
            color-mix(in srgb, var(--color-brand-primary), black 20%) 0%,
            color-mix(in srgb, var(--color-brand-secondary), black 20%) 100%
    );

    --color-highlight-primary: #ff6b6b;
    --color-highlight-secondary: #e55555;
}

body.Light {
    --color-bg-primary: #f0f3f8;
    --color-bg-secondary: #ffffff;
    --color-bg-tertiary: #e7e9ed;

    --color-text-primary: #1f232b;
    --color-text-secondary: #5a6270;
    --color-text-contrast: #ffffff;
    --color-text-contrast-accent: #b7b7b7;

    --color-border-subtle: #e0e4eb;

    --color-input-bg: #f5f7f9;
    --color-input-border: #ccd0d7;

    --color-highlight-tertiary: #ffe3e3;

    --color-success-primary: #198754;
    --color-success-secondary: #146c43;
    --color-success-tertiary: #0f5132;

    --color-error-primary: #dc3545;
    --color-error-secondary: #a61f2c;
    --color-error-tertiary: #5d151b;
}

body.Dark {
    --color-bg-primary: #1f232b;
    --color-bg-secondary: #2b313d;
    --color-bg-tertiary: #3a414e;

    --color-text-primary: #e8e8e8;
    --color-text-secondary: #a0a8b9;
    --color-text-contrast: #1f232b;
    --color-text-contrast-accent: #ffffff;

    --color-border-subtle: #3e4451;

    --color-input-bg: var(--color-bg-secondary);
    --color-input-border: #5a6270;

    --color-highlight-tertiary: #331a1a;

    --color-success-primary: #28a745;
    --color-success-secondary: #1e7e34;
    --color-success-tertiary: #155724;

    --color-error-primary: #ec6a76;
    --color-error-secondary: #c64552;
    --color-error-tertiary: #8b2c34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: var(--base-font-size);
    transition: font-size 0.2s ease;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    min-width: 100%;
    justify-content: center;
}

button:disabled {
    cursor: not-allowed;
}
