:root {
    font-size: 16px;
    --border-radius-main: 0.7rem;
    --sidebar-width: 20rem;
    --upper-header-height: 4rem;

    --color-bg-primary: #1f232b;
    --color-bg-secondary: #2b313d;
    --color-bg-tertiary: #3a414e;

    --color-text-primary: #e8e8e8;
    --color-text-secondary: #a0a8b9;
    --color-text-subtle: #7f8c8d;
    --color-text-contrast: #1f232b;

    --color-border-subtle: #3e4451;
    --color-shadow-subtle: rgba(0, 0, 0, 0.4);

    --color-brand-primary: #6BC2DF;
    --color-brand-secondary: #4faccc;
    --color-brand-accent: #0078d4;
    --color-brand-accent-hover: #004578;
    --color-brand-accent-active: #01386e;

    --color-highlight-primary: #ff6b6b;
    --color-highlight-secondary: #e55555;
    --color-highlight-tertiary: #331a1a;

    --color-error-primary: #dc3545;
    --color-error-secondary: #a61f2c;
    --color-error-tertiary: #5d151b;

    --color-input-bg: var(--color-bg-secondary);
    --color-input-border: #5a6270;
}

body.light-mode {
    --color-bg-primary: #f0f3f8;
    --color-bg-secondary: #ffffff;
    --color-bg-tertiary: #e7e9ed;

    --color-text-primary: #1f232b;
    --color-text-secondary: #5a6270;
    --color-text-contrast: #ffffff;

    --color-border-subtle: #e0e4eb;

    --color-input-bg: #f5f7f9;
    --color-input-border: #ccd0d7;

    --color-highlight-tertiary: #ffe3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    min-width: 100%;
}